*{
    width:100%;
}




.red{
    height:100px;
    width:50%;
    background-color:red;
    
    
    
    
}
.blue{
    height:100px;
    width:40%;
    background-color:blue;
    
    
    
}
.green{
    height:100px;
    width:40
        %;
    background-color:green;
    
    
}