*{
    margin:0;
    padding:0;
    
}
.0{
    border-color: black;
    height:70px;
    color:red;
    width:30%;
}

.1
{
    border:1px solid black;
    color:red;
    
    
    
}

.2
{
    
    
    
    
}

.3
{
    
    
}

.4{
    
    
}

.5{
    
    
}